@model IEnumerable<E_CODING_MVC_NET6_0.Models.TemplateTechniqueVM>


<div>
    <a asp-controller="TemplateTechnique" asp-action="Create">
        <input type="button" value="Create TemplateTechnique" class="btn btn-primary" />
    </a>
</div>


<div class="row">
    <div class="col-md-12">
        <h2>Liste des TemplateTechnique</h2>
        <input type="button" value="Clients" id="actionStart">
        <table class="table table-responsive table-striped table-bordered table-hover"
               id="TableTemplateProject1"
               cellspacing="0"
               align="center"
               width="100%">
            <tr>
                <th><strong>@Html.DisplayName("Title")</strong></th>
                <th><strong>@Html.DisplayName("Detail")</strong></th>
                <th><strong>@Html.DisplayName("Edit")</strong></th>
                <th><strong>@Html.DisplayName("Delete")</strong></th>
            </tr>
            @foreach (var item in Model)
            {
        <tr>

            <td><img src="~/Images/software/soft1.jpg" /></td>
            <td>@Html.DisplayFor(modelItem => item.TemplateTechniqueTitle)</td>
            <td>
                <a asp-controller="TemplateTechnique" asp-action="Details" asp-route-id="@item.TemplateTechniqueId">
                    <input type="button" value="Detail" class="btn btn-primary" />
                </a>
            </td>
            <td>
                <a asp-controller="TemplateTechnique" asp-action="Edit" asp-route-id="@item.TemplateTechniqueId">
                    <input type="button" value="Edit" class="btn btn-success" />
                </a>
            </td>
            <td>
                <a asp-controller="TemplateTechnique" asp-action="Delete" asp-route-id="@item.TemplateTechniqueId">
                    <input type="button" value="Delete" class="btn btn-success" />
                </a>
            </td>
        </tr>
            }
            </table>
    </div>
</div>



    @section scripts {

        <script type="text/javascript">

            $(document).ready(function () {

                

            });

        </script>

    }



