@model E_CODING_MVC_NET6_0.Models.TemplateProjectVM

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div>
                        <strong><label asp-for="TemplateProjectId" class="control-label"></label></strong>
                    </div>
                    <div>
                        <strong><label asp-for="TemplateProjectName" class="control-label"></label></strong>
                    </div>
                    <div>
                        <strong><label asp-for="TemplateProjectTitle" class="control-label"></label></strong>
                    </div>
                    <div>
                        <strong><label asp-for="TemplateProjectDescription" class="control-label"></label></strong>
                    </div>
                    <div>
                        <strong><label asp-for="TemplateProjectVersion" class="control-label"></label></strong>
                    </div>
                    <div>
                        <strong><label asp-for="TemplateProjectVersionNet" class="control-label"></label></strong>
                    </div>

                </div>
                <div class="col-md-4">
                    <div>
                        <input asp-for="TemplateProjectId" class="form-control" />
                        <span asp-validation-for="TemplateProjectId" class="text-danger"></span>
                    </div>
                    <div>
                        <input asp-for="TemplateProjectName" class="form-control" />
                        <span asp-validation-for="TemplateProjectName" class="text-danger"></span>
                    </div>
                    <div>
                        <input asp-for="TemplateProjectTitle" class="form-control" />
                        <span asp-validation-for="TemplateProjectTitle" class="text-danger"></span>
                    </div>
                    <div>
                        <input asp-for="TemplateProjectDescription" class="form-control" />
                        <span asp-validation-for="TemplateProjectDescription" class="text-danger"></span>
                    </div>
                    <div>
                        <input asp-for="TemplateProjectVersion" class="form-control" />
                        <span asp-validation-for="TemplateProjectVersion" class="text-danger"></span>
                    </div>
                    <div>
                        <input asp-for="TemplateProjectVersionNet" class="form-control" />
                        <span asp-validation-for="TemplateProjectVersionNet" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="~/Images/software/soft3.jpg" />
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <h2>Liste des TemplateTechnique</h2>
                    <table class="table table-responsive table-striped table-bordered table-hover"
                           id="TableTechniqueId"
                           cellspacing="0"
                           align="center"
                           width="100%">
                        <tr>
                            <th>Name</th>
                            <th>Title</th>
                            <th>Edit</th>
                            <th>Details</th>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <h2>Liste des TemplateFonctionnelEntity</h2>
                    <table class="table table-responsive table-striped table-bordered table-hover"
                           id="TableTechniqueEntityId"
                           cellspacing="0"
                           align="center"
                           width="100%">
                        <tr>
                            <th>Name</th>
                            <th>Title</th>
                            <th>Edit</th>
                            <th>Details</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="TemplateProjectTitle" class="control-label"></label>
                    <textarea asp-for="TemplateProjectTitle" id="textareTitle" class="mytextarea"></textarea>
                    <span asp-validation-for="TemplateProjectTitle" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="TemplateProjectDescription" class="control-label"></label>
                    <textarea asp-for="TemplateProjectDescription" id="textareDescription" class="mytextarea"></textarea>
                    <span asp-validation-for="TemplateProjectDescription" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>

    </div>

</form>

@section scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script type="text/javascript">

        $(document).ready(function () {

            var details = '<input type="button" value="Details" class="btn btn-primary" />';
            var edit = '<input type="button" value="Edit" class="btn btn-success" />';

            var templateProjectId = @Model.TemplateProjectId.ToString();
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "@Url.Action("DetailsTechnique")",
                data: { "id": templateProjectId },
                success: function (result) {
                    var client = '';
                    for (var i = 0; i < result.length; i++) {
                        client += '<tr>';
                        client += '<td>' + result[i].TemplateTechniqueName + '</td>';
                        client += '<td>' + result[i].TemplateTechniqueTitle + '</td>';
                        client += '<td><a href="Edit?id=' + result[i].TemplateTechniqueId + '">' + edit + '</a></td>';
                        client += '<td><a href="Details?id=' + result[i].TemplateTechniqueId + '">' + details + '</a></td>';
                        client += '</tr>';
                    }
                    $('#TableTechniqueId').append(client);
                }
            });

            $.ajax({
                type: "GET",
                dataType: "json",
                url: "@Url.Action("DetailsEntity")",
                data: { "id": templateProjectId },
                success: function (result) {
                    var client = '';
                    for (var i = 0; i < result.length; i++) {
                        client += '<tr>';
                        client += '<td>' + result[i].TemplateFonctionnelEntityName + '</td>';
                        client += '<td>' + result[i].TemplateFonctionnelEntityTitle + '</td>';
                        client += '<td><a href="Edit?id=' + result[i].TemplateFonctionnelEntityId + '">' + edit + '</a></td>';
                        client += '<td><a href="Details?id=' + result[i].TemplateFonctionnelEntityId + '">' + details + '</a></td>';
                        client += '</tr>';
                    }
                    $('#TableTechniqueEntityId').append(client);
                }
            });

            tinymce.init({
                selector: '.mytextarea'
            });

            $('#textareTitle').html('@Model.TemplateProjectTitle');
            $('#textareDescription').html('@Model.TemplateProjectDescription');


        });

</script>

}
